@charset "UTF-8";

* {
	box-sizing: border-box;
}

#chatImg {
	width: 30%;
	height: 30%;
	margin: 10px auto;
}

#chatt {
	width: 400px;
	margin: 20px auto;
}

#chatt #talk {
	width: 400px;
	height: 500px;
	overflow: scroll;
	border: 1px solid #aaa;
	overflow-x: hidden
}

#chatt #msg {
	width: 320px;
	height: 100px;
	display: inline-block;
}

#chatt #sendZone>* {
	vertical-align: top;
}

#chatt #btnSend {
	width: 55px;
	height: 100px;
}

#chatt #talk div {
	width: 70%;
	display: inline-block;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 20px 10px;
	font-size: 12px;
}

#chatt .me {
	background-color: #ffc;
	margin: 1px 3px 2px 30%;
	radius: 4px;
}

#chatt .other {
	background-color: #eee;
	margin: 3px;
	radius: 4px;
}