@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 공통적용 (1400px)----------------------------------------------------------------------------------------------------------------*/
html,body{margin: 0; font-family: 'Poppins'; font-weight: 500;}
*{-webkit-tap-highlight-color: transparent;}
.wrap{overflow: hidden;}
.width_con{position: relative; margin: 0 auto; width: 1400px; padding: 100px 0; /*background: rgba(255,255,255,0.5);*/ transition: width 250ms ease-in-out;}

/*-------home button-----------------------------------------------*/
.home{position: absolute; left:-41px; top:13px; width: 48px; height: 48px; background: url(../img/logo.png) no-repeat; background-size: cover; color: #fff; text-align: center; line-height: 48px; transition: all 150ms linear, opacity 250ms ease-in-out, bottom 250ms ease-in-out; z-index: 999;}
.home:active{color: #aaa; box-shadow: 0 0 0 rgba(0,0,0,1); transform: scale(0.975);}
.home img{width: 100%;}

/*-------chat button-----------------------------------------------*/
.chat{position: fixed; bottom: 60px; right: 60px; width: 48px; height: 48px; background: url(../img/messenger.png) no-repeat; background-size: cover; color: #fff; text-align: center; line-height: 48px; cursor: pointer; transition: all 150ms linear, opacity 250ms ease-in-out, bottom 250ms ease-in-out; z-index: 999;}
.chat:active{color: #aaa; box-shadow: 0 0 0 rgba(0,0,0,1); transform: scale(0.975);}
.chat img{width: 100%;}
.chatting{position: fixed; bottom: 110px; right: 110px; width: 400px; height: 600px; background: #FFFFFF; opacity: 1; border-radius: 8px; transform: scale(0); transition: all 250ms ease-in-out; transform-origin: bottom right; z-index: 999; text-align: center; box-shadow: 0px 0px 20px #999;}
.chatting.active{transform: scale(1);}
.chatframe{frameborder:0; margin: 20px;  width: 350px; height: 550px; }

.post_btn{position: fixed; bottom: 60px; left: 60px; width: 48px; height: 48px; text-align: center; line-height: 48px; cursor: pointer; transition: all 150ms linear, opacity 250ms ease-in-out, bottom 250ms ease-in-out; z-index: 999;}
.post_btn::before,
.post_btn::after{content: ''; position: absolute; top: 50%; left: 50%; background: #ccc; border-radius: 4px; opacity: 1; transition: all 400ms ease-in-out;}
.post_btn::before{margin: -25px 0 0 -5px ; width: 10px; height: 50px;}
.post_btn::after{margin: -5px 0 0 -25px ; width: 50px; height: 10px;}
.post_btn:active{color: #aaa; box-shadow: 0 0 0 rgba(0,0,0,1); transform: scale(0.975);}
.post_btn img{width: 100%;}

/*------header-----------------------------------------------*/
.header{position: fixed; top: 0; width: 100%; height: 80px; background: #c3dcd6; box-shadow: 0 5px 15px rgba(0,0,0,0.35); transition: all 450ms ease-out; z-index: 9999;}
.header.hide{top: -80px; box-shadow: 0 0 0 rgba(0,0,0,0);}
.header .width_con{position: relative; padding: 0;}
.header a.bi{margin: 10px;}
.header a.bi img{width: 160px; margin: 20px 0;}

.header .btn_nav{position: absolute; top: 25px; right: 0px; height:30px; width:30px; display: none; cursor: pointer; transition: all 350ms ease-out;}
.header .btn_nav div{position: absolute; top: 12px; right: 0; height:3px; width:30px; background: #fff; transition: all 350ms ease-out 350ms, transform 350ms ease-out;}
.header .btn_nav div:before,
.header .btn_nav div:after{position: inherit; content: ''; right: inherit; height:3px; width:30px; background: #fff; transition: inherit;}
.header .btn_nav div:before{top: -9px;}
.header .btn_nav div:after{top: 9px;}
.header.nav_open .btn_nav{right: 180px;}
.header.nav_open .btn_nav div{background: transparent; transition: all 350ms ease-out, transform 350ms ease-out 350ms;}
.header.nav_open .btn_nav div:before{top: 0; transform: rotate(45deg);}
.header.nav_open .btn_nav div:after{top: 0; transform: rotate(-45deg);}
.blurred_cover{position: fixed; top:0; left: 0; height: 100vh; width: 100vw; backdrop-filter: blur(0px) saturate(0); -webkit-backdrop-filter: blur(0px) saturate(0); opacity: 0; pointer-events: none; transition: all 150ms linear, height 0s linear 150s; z-index: 3;}

.header ul{display: block; margin: 0 -20px; height: 100%; transition: all 350ms ease-out;}
.header ul li{margin: 27px 60px 0; display: inline-block; *display: inline; *zoom: 1; height: 100; text-align: center;}
.header ul li #search{margin-top: -15px; padding: 0 30px 0 20px; width: 450px; height: 50px; border-radius: 25px; border: 2px solid #ccc; font-size: 16px;}
.header ul li .far{float: right;}
.header ul li a{padding: 5px; color: #fff; font-family: 'Poppins'; font-weight: 500; font-size: 20px; text-transform: none; transition: all 350ms ease-in-out;}
.header ul li a:hover{color: #9bc5bb;}

/*-----footer-----------------------------------------------*/


/* 반응형 활성화---------------------------------------------------------------------------------------------------------------------*/
/* 0 - 479px-----------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width:0px) and (max-width:529px){
    
}

/* 480px - 799px-------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width:530px) and (max-width:1049px){
    
}
/* 1000px - 1399px-------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width:1050px) and (max-width:1449px){
    
}