@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* 공통적용 (1400px)----------------------------------------------------------------------------------------------------------------*/
.sub_title{color: #b8aa8f; font-size: 24px; font-weight: 700; line-height: 1em; margin: 0 0 11px;}
.main_title{color: #33322e; font-size: 36px; font-weight: 700; line-height: 1em;}
.descript{font-size: 14px;}
.conceal{opacity: 0; }

/*------랜딩 페이지 비주얼-------------------------------------------------------------------------------------------------------------------------------*/
.visual,
.p_inform,
.my_page{position: relative; width: 100%; height: 100vh; max-height: 1080px; transition: all 450ms ease-out; background: #fff; background-size: cover;}
body.loading .visual{opacity: 0; filter: blur(8px);}
.visual .width_con{padding: 0; position: relative; height: 100%;}
.visual .width_con .title{position: relative; top: 120px; left: 700px; margin: 0 0 250px -180px; width: 360px; border-bottom: 2px solid #000; text-align: center; font-size: 40px; text-transform: none;}

.visual .width_con .rank{margin: 0 -20px; width: 1440px;}
.visual .width_con .rank li{margin: 0 20px; display: inline-block; width: 320px;}
.visual .width_con .rank li div.profile_and_nickname{margin: 0 0 15px;}
.visual .width_con .rank li div.profile_and_nickname img.profile{margin: 0 10px 0 0; width: 50px; border-radius: 50%;}
.visual .width_con .rank li div.fit_image img{width: 320px; height: 320px; background-size: cover;}
.visual .width_con .rank li div.rank_and_thumbup{font-size: 20px; text-transform: none;}
.visual .width_con .rank li div.rank_and_thumbup span{float: right;}
.visual .width_con .rank li div.rank_and_thumbup span::before{content: ''; position: absolute; margin: 5px 0 0 -30px; width: 20px; height: 20px; background: url(../img/like.png) no-repeat; background-size: cover;}

/*개인정보 입력 페이지*/
.content{display: flex; width: 100%; height: 100%; align-items: center; justify-content: center;}
.content .backboard{padding: 80px 100px; display: flex; flex-direction: row; flex-wrap: wrap; margin: 10px 0 0 0; width: 800px; background: #d9e7e7; border-radius: 30px; justify-content: center; align-items: center;}
.content .backboard ul{width: 900px;}
.content .backboard ul li{display: inline-block; font-size: 18px;}
.content .backboard ul li input,
.content .backboard ul li select{margin: 6px 10px; padding: 4px 8px; border: none; border-radius: 4px;}
.content .backboard ul li input,
.content .backboard ul li select{width: 240px;}
.content .backboard ul li input::placeholder{font-weight: bold; color: #ccc;}
.content .backboard ul li input[type="number"]::-webkit-outer-spin-button,
.content .backboard ul li input[type="number"]::-webkit-inner-spin-button{-webkit-appearance: none; margin: 0;}
.content .backboard ul li span{margin: 6px 4px 6px 0; display: inline-block; width: 200px; text-align: right;}
.content .backboard ul li.email input{width: 350px;}
.content .backboard ul li.cert_num .send_btn{margin: 0 10px 0 10px; display: inline-block; padding: 4px 20px; background: #9bc5bb; color: #fff; font-size: 14px; border-radius: 4px;}
.content .backboard ul li.cert_num input{width: 100px;}
.content .backboard ul li.address select.city{width: 260px;}
.content .backboard ul li.address select.county{width: 160px;}
.content .backboard ul li.detail_address input.zip_code{margin: 0 10px 0 10px; padding: 4px 4px; width: 80px;}
.content .backboard ul li.detail_address input.detail_1{width: 316px;}
.content .backboard ul li.detail_address input.detail_2{width: 424px;}
.content .backboard ul li.birth select,
.content .backboard ul li.gender select{padding-right: 0; width: 20px;}
.content .backboard ul li.gender{margin-left: 5px;}
.content .backboard ul li.height,
.content .backboard ul li.weight{text-transform: none;}
.content .backboard ul li.height input,
.content .backboard ul li.weight input{width: 85px;}
.content .backboard ul li.weight{margin-left: -19px;}

/*입력시 뜨는 메세지 변경 바람*/
.sub_massage{position: absolute; margin: 10px 0 0 0; display: inline-block; color: #f00; font-size: 14px;}
/*입력시 뜨는 메세지 변경 바람*/

.check_join{margin: 40px 0 0 0; font-size: 18px;}
.check_join #checkbox{display: none;}
.check_join #checkbox + label{cursor: pointer;}
.check_join #checkbox + label::before{content: ''; display: inline-block; width: 24px; height: 24px; background: #fff; line-height: 17px; vertical-align: middle;}
.check_join #checkbox:checked + label::before{content: ''; background: url(../img/check.png) no-repeat #fff; background-size: contain;}
.check_join .join_btn{margin: 0 20px; padding: 4px 40px; background: #9bc5bb; color: #fff; border-radius: 4px;}

/*마이 페이지*/
.my_page .content{height: calc(100vh - 120px); overflow: auto;}
.my_page .content::-webkit-scrollbar{width: 30px;}
.my_page .content::-webkit-scrollbar-thumb{background: #fff; border: #c3dcd6 solid 8px; border-radius: 20px;}
.my_page .content::-webkit-scrollbar-thumb:hover,
.my_page .content::-webkit-scrollbar-thumb:active{background: #00f;}
.my_page .content::-webkit-scrollbar-track{background: #c3dcd6; border-radius: 10px;}
.bg_bg{width: 100%; height: 2000px;}

/* 반응형 활성화---------------------------------------------------------------------------------------------------------------------*/
/* 0 - 479px-----------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width:0px) and (max-width:529px){
    
}

/* 480px - 799px-------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width:530px) and (max-width:1049px){
    
}

/* 1000px - 1399px-------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width:1050px) and (max-width:1449px){
    
}