@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';
@import url(../fonts/font-awesome/css/font-awesome.min.css);
/* @import url(../plugin/bootstrap/css/bootstrap.min.css); */

.my-btn{
	margin-bottom: 30px;
}

/* Notice List */

.notice-list {
  list-style: none;
  padding: 0px;
}
.notice-list li {
  border-bottom: 1px solid #eaedef;
  display: block;
  position: relative;
  padding: 14px 15px 14px 15px;
  min-height: 75px;
}
.notice-list a {
  display: block;
  position: relative;
  padding: 14px 15px 14px 85px;
  min-height: 75px;
}
.notice-list a:hover {
  background: #f5f7fa;
}
.notice-list .avatar {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 55px;
  height: 55px;
  overflow: hidden;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.notice-list .avatar i {
  font-size: 24px;
  line-height: 55px;
  color: #ffffff;
  top: 0px;
}
.notice-list .desc {
  color: #90a4ae;
  font-size: 13px;
  line-height: 23px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  display: block;
}
.notice-list .name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #212121;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
}
@media (min-width: 1025px) {
  .notice-list .name:hover {
    color: #1d84df;
  }
}
.notice-list .time {
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: #aab2bd;
  position: absolute;
  right: 20px;
  top: 17px;
}