<!doctype html>
<html>
    <head>
        <title>free_board_detail</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
        <meta name="format-detection" content="telephone=no">
        <link type="text/css" rel="stylesheet" href="css/reset.css">
        <link type="text/css" rel="stylesheet" href="css/common.css">
        <link type="text/css" rel="stylesheet" href="css/main.css">
        <link type="text/css" rel="stylesheet" href="css/button.css">
        <link rel="stylesheet" href="css/fontawesome_all.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="js/common.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

        <link href="" rel="icon" type="image/x-icon">                                               <!--32 Size .ico/.png (기본 파비콘)-->
        <link href="" rel="shortcut icon" type="image/x-icon">                                      <!--32 Size .ico/.png (기본 파비콘)-->
        <meta name="robots" content="index,follow">                                                 <!--사이트 페이지 구분-->
        <meta name="description" content="">                                                        <!--사이트 설명-->
        <meta name="author" content="">                                                             <!--사이트 제작자/제작회사-->
        <meta name="keywords" content="">                                                           <!--사이트 검색엔진 키워드-->
                                                                                                    <!--검색엔진/SNS 추출 정보-->
        <meta property="og:site_name" content="">                                                   <!--사이트 이름-->
        <meta property="og:url" content="">                                                         <!--사이트 주소-->
        <meta property="og:title" content="">                                                       <!--사이트 제목-->
        <meta property="og:image" content="">                                                       <!--144 Size .png (홈화면 아이콘)-->
        <meta property="og:image" content="">                                                       <!--144 Size .png (위 이미지 없을 시 보조 이미지)-->
        <meta property="og:description" content="">                                                 <!--사이트 설명-->
        <meta property="og:type" content="website">                                                 <!--사이트 페이지 구분-->
        <link rel="apple-touch-icon" href="">                                                       <!--57 Size .png-->
        <link rel="apple-touch-icon" sizes="72x72" href="">                                         <!--72 Size .png-->
        <link rel="apple-touch-icon" sizes="114x114" href="">                                       <!--114 Size .png-->
        <link rel="apple-touch-icon" sizes="144x144" href="">                                       <!--144 Size .png-->
    </head>
    <body class="loading">
        <span class="chat"></span>
        <div class="wrap">
            <div class="header hide">
                <div class="width_con">
                    <div class="btn_nav"><div></div></div>
                    <ul>
                        <li><a href="javascript:;">Feed</a></li><!--
                     --><li><a href="javascript:;">Sale/Rental</a></li><!--
                     --><li><input id="search" type="text"><!--<i class="far fa-search"></i>--></li><!--
                     --><li><a href="javascript:;">Community</a></li><!--
                     --><li><a href="javascript:;">Login</a></li>
                    </ul>
                </div>
            </div>
            <div class="free_board_detail">
                <div class="width_con">
                    <div class="content">
                        <div class="board_title">게시글 상세화면</div>
                        <div class="f_post_user">
                            <div class="f_left">
                                <div class="f_img"></div>
                                <div class="f_title_nickname">
                                    <div class="f_p_title">오늘 점심메뉴 추천해줄 분</div>
                                    <div class="f_nickname">오늘의스타</div>
                                </div>
                            </div>
                            <div class="f_right">
                                <a class="f_fix" href="javascript:;">수정</a>
                                <a class="f_del" href="javascript:;">삭제</a>
                                <div class="f_view">조회수 : 15</div>
                                <div class="f_date">작성일자: 2022/05/18 17:00:00 (15분 전)</div>
                            </div>
                        </div>
                        <div class="f_contents">날도 좋은데 다들 점심 뭐 드시나요?</div>
                        <div class="f_comment">
                            <div class="f_comment_num">댓글수 1개</div>
                            <div class="f_c_left">
                                <div class="f_c_img"></div>
                                <div class="f_c_nick_cotents">
                                    <div class="f_c_nickname">딸기가좋아</div>
                                    <div class="f_c_contents">딸기와플이 땡기는 날이네요!</div>
                                </div>
                            </div>
                            <div class="f_c_right">
                                <a class="c_del" href="javascript:;">x</a>
                                <div class="c_date">작성일자: 2022/05/18 17:10:00 (5분 전)</div>
                            </div>
                        </div>
                        <div class="user_comment_input">
                            <div class="input_massage"><span>모세</span>님의 댓글을 등록해주세요.</div>
                            <div class="direct_input_area">
                                <div class="u_c_img"></div>
                                <textarea></textarea>
                                <a class="regist_btn" href="javascript:;">등록</a>
                            </div>
                        </div>
                        <div>
                            <a class="preview_btn" href="javascript:;">< 이전글</a>
                            <a class="list_btn" href="javascript:;">글목록</a>
                            <a class="next_btn" href="javascript:;">다음글 ></a>
                        </div>
                    </div>
                </div>
                <div class="counsel"></div>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>