<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
	<meta charset="UTF-8" />
	<th:block layout:fragment="title">
		<title>view page</title>
	</th:block>

	<th:block layout:fragment="modal">
		<div id="commentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                <span aria-hidden="true">&times;</span>
		                </button>
		            </div>
		            <div class="modal-body">
		                <form>
		                    <div class="form-group">
		                        <label for="modalWriter" class="col-form-label">작성자</label>
		                        <input type="text" id="modalWriter" class="form-control" readonly="readonly" />
		                    </div>
		                    <div class="form-group">
		                        <label for="modalContent" class="col-form-label">내용</label>
		                        <textarea id="modalContent" class="form-control" placeholder="내용을 입력해 주세요."></textarea>
		                    </div>
		                </form>
		            </div>
		            <div class="modal-footer">
		                <button type="button" id="btnModalCancel" class="btn btn-default waves-effect waves-light" data-dismiss="modal">취소하기</button>
		                <button type="button" id="btnCommentUpdate" class="btn btn-primary waves-effect waves-light" onclick="updateComment()">수정하기</button>
		            </div>
		        </div>
		    </div>
		</div>
	</th:block>

	<th:block layout:fragment="content">
		<div class="card-content">
			<form class="form-horizontal form-view" th:object="${board}">
				<input type="hidden" id="page" th:value="${page}">
				<input type="hidden" id="no" th:value="${board.b_no}">
				<div class="form-group">
					<label for="inp-type-1" class="col-sm-2 control-label">제목</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{b_title}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-2" class="col-sm-2 control-label">아이디</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{user.cu_id}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">내용</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{b_content}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">등록일</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{b_created}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">조회수</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{b_hit}"></p>
					</div>
				</div>
			</form>

			<div class="btn_wrap text-center">
				<a th:href="@{/board/list?page={page} (page = ${page})}" class="btn btn-default waves-effect waves-light" th:text="목록으로"></a>
				<button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
				<a th:href="@{'/board/'+${page}+'/'+${board.b_no }+'/updateForm'}" class="btn btn-warning">수정</a>
				<button id="btn-delete" class="btn btn-danger">삭제</button>
				<button class="btn btn-danger" th:onclick="deleteBoard([[${board.b_no}]],[[${page}]])">삭제하기</button>
			</div>
		</div>
	</th:block>

	<th:block layout:fragment="add-content">
		<div class="box-content">
			<div class="card-content">
				<div class="clearfix">
					<h4 class="box-title pull-left">Comment</h4>
					<!-- /.box-title -->
				</div>

				<form class="form-horizontal form-view">
					<div class="input-group margin-bottom-20">
						<input id="comment-content" type="text" class="form-control">
						<div class="input-group-btn">
							<button type="button" id="btn-comment-save" class="btn waves-effect waves-light"><i class="fa fa-commenting" aria-hidden="true"></i></button>
						</div>
					</div>
					
					<ul class="notice-list" th:each="bc : ${board.boardComment}">
						<li>
							<span class="name" th:text="${bc.user.cu_id }">Betty Simmons</span>
							<span class="desc" th:text="${bc.bc_content }">There are new settings available</span>
							<span class="time" th:text="${bc.bc_created }">2019.03.26</span>
							<button th:onclick="index.commentDelete([[${board.b_no}]],[[${bc.bc_no}]])" type="button" class="btn btn-xs btn-circle"><i class="fa fa-close" aria-hidden="true"></i></button>
							<button th:onclick="openModal([[${bc.bc_no}]], [[${bc.user.cu_id}]], [[${bc.bc_content}]] )" type="button" class="btn btn-xs btn-circle"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></button>
<!-- 							<button th:onclick="index.commentDelete([[${board.b_no}]],[[${bc.bc_no}]])" type="button" class="btn btn-xs btn-circle"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></button> -->
						</li>
					</ul>
				</form>
			</div>
			<!-- /.card-content -->
		</div>
		<!-- /.box-content -->
	</th:block>
</html>