<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:replace="fragments/common :: head('board detail')"></div>

<body style="padding-top: 110px;">

	<div th:replace="fragments/common :: header('detail')"></div>

	<div class="modal fade" id="comment-modal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">update comment</h5>
					<button type="button" class="btn-close" data-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<input type="hidden" id="bc_no"> <input type="hidden"
							id="b_no">
						<div class="mb-3">
							<label for="cu_no" class="col-form-label">작성자:</label> <input
								type="text" class="form-control" id="cu_id" readonly="readonly">
						</div>
						<div class="mb-3">
							<label for="bc_content" class="col-form-label">내용:</label>
							<textarea class="form-control" id="bc_content"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						id="btn-modal-cancel" data-dismiss="modal">cancel</button>
					<button type="button" class="btn btn-primary" id="btn-modal-update">update</button>
				</div>
			</div>
		</div>
	</div>


	<!-- <h2>[[${principal.username}]]</h2> -->
	<div class="container">
		<div class="box-content">
			<input type="hidden" id="page" th:value="${params.page}"> <input
				type="hidden" id="searchType" th:value="${params.searchType}">
			<input type="hidden" id="keyword" th:value="${params.keyword}">
			<input type="hidden" id="recordPerPage"
				th:value="${params.recordPerPage}">
			<form th:object="${board}">
				<input type="hidden" id="board_no" th:value="*{b_no}">
				<div class="form-group">
					<label for="title">제목</label>
					<p class="form-control" th:text="*{b_title}"></p>
				</div>
				<div class="form-group">
					<label for="writer">작성자</label>
					<p class="form-control" th:text="*{customer.cu_id}"></p>
				</div>
				<div class="form-group">
					<label for="content">내용</label>
					<div class="text-left my-border">
						<p style="white-space: pre-line;">[[*{b_content}]]</p>
						<div th:if="${not #lists.isEmpty( fileList )}" th:each=" file : ${fileList}" class="form-group">
							<img class="rounded" style="height: 200px;" th:if="${#strings.endsWith(file.save_name,'.jpg')} or ${#strings.endsWith(file.save_name,'.jpeg')} or ${#strings.endsWith(file.save_name,'.png')}" th:src="@{|/boardImage/${file.save_name}|}" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="created">등록일</label>
					<p class="form-control"
						th:text="${#dates.format(board.b_created, 'yyyy-MM-dd HH:mm:ss')}"></p>
				</div>
				<div class="form-group">
					<label for="hit">조회수</label>
					<p class="form-control" th:text="*{b_hit}"></p>
				</div>


				<div th:if="${not #lists.isEmpty( fileList )}" class="form-group">
					<label for="inp-type-4" class="col-sm-2 control-label">File</label>
					<div class="my-border">
						<div th:each="row, status : ${fileList}">
							<a th:href="@{/board/download(bf_no=${row.bf_no})}"> 
							<i class="fa fa-file-o" aria-hidden="true"></i> 
							[[ ${row.original_name} ]]
							</a> <span th:text="|${row.size}kb|"></span>
						</div>
						<br>
					</div>
				</div>

				<div class="text-right my-btn">
					<a th:if="${#authentication.name==board.customer.cu_id}"
						class="btn btn-primary"
						th:href="@{/board/form(b_no=*{b_no},page=${params.page},searchType=${params.searchType},keyword=${params.keyword},recordPerPage=${params.recordPerPage})}">글수정</a>
					<button th:if="${#authentication.name==board.customer.cu_id}"
						class="btn btn-warning" id="btn-delete" type="button">글삭제</button>
					<!-- <a class="btn btn-secondary" th:href="@{/board/list}">목록으로</a> -->
					<a class="btn btn-secondary"
						th:href="@{/board/list(page=${params.page},searchType=${params.searchType},keyword=${params.keyword},recordPerPage=${params.recordPerPage})}">목록으로</a>
				</div>
			</form>
		</div>

		<div class="box-content">
			<div class="clearfix" style="padding: 10px;">
				<h4 class="box-title pull-left">Comment</h4>
			</div>
			<form class="form-horizontal form-view">
				<div class="input-group margin-bottom-20">
					<input class="form-control" id="comment-content" type="text">
					<div class="input-group-btn" style="margin-left: 10px;">
						<button class="btn waves-effect waves-light" id="btn-comment-save"
							type="button">
							<i class="fa fa-commenting" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<ul class="notice-list"></ul>
			</form>
		</div>
	</div>



	<div th:replace="fragments/common :: footer"></div>

	<div th:replace="fragments/common :: js"></div>

	<script th:inline="javascript"> 
			
			
			const customer = /*[[${principal.username}]]*/		
			console.log(customer) //현재접속한유저아이디
			
			
			printCommentList();
			
			function printCommentList() {
				const b_no = $("#board_no").val();
				$.ajax({
					url:`/boardComment/list/${b_no}`,
					success:function(data){
						let commentsHtml = '';
						$(data).each(function(){
							commentsHtml += `<li style="margin-bottom:20px; padding-bottom:30px;">
												<span class="name">${this.customer.cu_id}</span>
												<span class="desc" style="margin-top:15px;">${this.bc_content}</span>
												<span class="time">${this.bc_created}</span>
												<span class="time" style="margin-top:30px;" id="btns">`;
							if(customer==this.customer.cu_id){
									commentsHtml += `<button type="button" class="btn btn-outline-secondary btn-sm" onclick="deleteComment(${this.bc_no})">삭제</button>
													<button type="button" class="btn btn-outline-primary btn-sm" onclick="commentUpdate(${this.bc_no},${b_no},'${this.customer.cu_id}','${this.bc_content}')">수정</button>`;
							};
							commentsHtml += `</span>
											</li>`;
						});
						$(".notice-list").html(commentsHtml); //append가 아니라 html임으로 empty()하지 않아도 된다
					}
				});
			};
			
			
			function commentUpdate(bc_no, b_no, cu_id, bc_content){
				$("#comment-modal").modal("toggle");
				$("#bc_no").val(bc_no);
				$("#b_no").val(b_no);
				$("#cu_id").val(cu_id);
				$("#bc_content").val(bc_content);
			};
			
			
			$("#btn-modal-update").on("click", function(){
				const bc_no = $("#bc_no").val();
				const bc_content = $("#bc_content").val();
				const data = {
					bc_no: bc_no,
					bc_content : bc_content
				};
				$.ajax({
					url:"/boardComment/update",
					type:"put",
					data:JSON.stringify(data),
					contentType:"application/json; charset=utf-8",
					success:function(){
						$("#comment-modal").modal("hide");
						alert("댓글수정을 성공하였습니다!");
						printCommentList();
					},
					error: function(xhr, status, error) {
						alert("에러가 발생하였습니다.");
						return false;
					}
				});
			});
			
			
			
			$("#btn-comment-save").on("click", function(){
				const content = $("#bc_content");
				const b_no = $("#board_no").val();
				const bc_content = $("#comment-content").val();
				if (isEmpty(bc_content)) {
					$("#comment-content").attr("placeholder", "댓글을 입력해 주세요.");
					$("#comment-content").focus();
					return false;
				};
			
				const data = {
					b_no : b_no,
					bc_content : bc_content
				};
			
				$.ajax({
					url:`/boardComment/save/${b_no}`,
					type:"post",
					data:data,
					success:function(){
						$("#comment-modal").modal("hide");
						alert("댓글등록을 성공하였습니다!");
						$("#comment-content").val("");
						printCommentList();
					},
					error: function(xhr, status, error) {
						alert("에러가 발생하였습니다.");
						return false;
					}
				});
			});
		
			
			$("#btn-delete").on("click", function(){
				const b_no = $("#board_no").val();
				const page = $("#page").val();
				const searchType = $("#searchType").val();
				const keyword = $("#keyword").val();
				const recordPerPage = $("#recordPerPage").val();
				if(re = confirm(`${b_no}번 게시물을 정말 삭제하시겠습니까?`)){
					$.ajax({
						url:`/board/delete/${b_no}`,
						type:"delete",
						success:function(){
							alert("글삭제를 성공했습니다!");
							location.href = `/board/list?page=${page}&searchType=${searchType}&keyword=${keyword}&recordPerPage=${recordPerPage}`;
						}
					});
				};
			});
			
			
			function deleteComment(bc_no){
				if(re = confirm(`${bc_no}번 댓글을 정말 삭제하시겠습니까?`)){
					$.ajax({
						url:`/boardComment/delete/${bc_no}`,
						type:"delete",
						success:function(){
							alert("댓글삭제를 성공했습니다!");
							printCommentList();
						},
						error: function(xhr, status, error) {
							alert("에러가 발생하였습니다.");
							return false;
						}
					});
				};
			};
			
		
	</script>


</body>

</html>