spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://niotneot.cnodnbvune1u.us-east-1.rds.amazonaws.com:3306/kmh?serverTimezone=Asia/Seoul
    username: manager
    password: manager33
#    
#  mvc:
#    view:
#      prefix: /WEB-INF/views/
#      suffix: .jsp
      
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      use-new-id-generator-mappings: false #JPA가 사용하는 기본 넘버링 전략을 따라가지 않는다
    show-sql: true
    properties:
      hibernate.format_sql: true
      hibernate.hbm2ddl.auto: update

  jackson:
    serialization:
      fail-on-empty-beans: false
      
---

sist:
  key: sist1234
      
server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
    
