<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 <div th:replace="fragments/common :: head('product')"></div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
    <body class="loading">
        <span class="chat"  type="button" id="starttrade2" value="채팅(거래)하기"></span>
		<div class="chatting">
		<iframe class="chatframe" name="chatframe" src="/listChatRoom"
			frameBorder="0" scrolling="no"> </iframe>
	</div>
	<input id="authname" type="hidden" th:value="${#authentication.name}">
	<div th:replace="fragments/common :: head('index')"></div>

	<div th:replace="fragments/common :: header('index')"></div>

	<div class="wrap">
            <div class="header hide">
                <div class="width_con">
                    <div class="btn_nav"><div></div></div>
                    <ul>
                        <li><a href="javascript:;">Feed</a></li><!--
                     --><li><a href="javascript:;">Sale/Rental</a></li><!--
                     --><li><input id="search" type="text"><!--<i class="far fa-search"></i>--></li><!--
                     --><li><a href="javascript:;">Community</a></li><!--
                     --><li><a href="javascript:;">Login</a></li>
                    </ul>
                </div>
            </div>
            <div class="product_inform">
                <div class="width_con">
                    <div class="content">
                        <div class="c_1212" style='display:flex;'>
                            <div class="left_side">
                                <div class="product_img">
                                    <div class="img_post">
                                      	<span th:each="image :${images}">
      									<img  th:src="${image.pi_url}" />
      									</span>
                                    </div>
                                  </div>
                            </div>
                            <div class="right_side">
                                <div class="fix_delete">
                                    <a th:href="@{/products/{productNo}/update(productNo=${product.pr_no})}">수정</a><!--
                                 -->&nbsp;/&nbsp;<!--
                                 --><a th:href="@{/products/{productNo}/update(productNo=${product.pr_no})}">삭제</a>
                                </div>
                                
                                <div class="post_user">
                                    <div class="post_user_profile" th:style="${'background-image: url(/image/customer/'+ cu_images +')'}"></div>
                                    <div class="post_user_inform">
                                        <div class="nickname" th:text="${nicknames}">게시자 이름</div>
                                    </div>
                                </div>
                                <div class="middle">
                                    <div class="product_category">카테고리 : <span class="category_name">옷</span></div>
                                    <div class="rental_or_sale_price" >대여가격 <span th:text="${product.pr_cost}">26,000</span>원</div>
                                </div>
                                 
                                <div class="post_product_inform" >
                                    <div>
                                        <span class="product_left" >상품명</span>
                                        <span class="product_name"  th:text="${product.pr_name}">세미 와이드 데님</span>
                                    </div>
                                    <div >
                                        <span class="product_left">상품설명</span>
                                        <span class="product_explain"  th:text="${product.pr_content}">상품설명 상태 등등</span>
                                    </div>
                                </div>
                                <div class="product_condition" >
                                    <span class="product_left">상품 상태</span>
                                    <div class="possible_impossible"  th:text="${product.pr_deal}">대여가능</div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="counsel"></div>
            </div>
            <div class="footer"></div>
        </div>
    </body>
  <script src='/js/product.js'></script>
  </body>
</html>