<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class="container">

	<div>
		<h2>상품 등록</h2>
	</div>
	<hr>
	<form th:action="@{/product/insert}" method="post" enctype="multi-form" th:object="${product}"></form>
	<div>
		<label th:for="pr_name">상품명</label>
		<input type="text" name="pr_name">
	</div>
	
	<div>
		<label th:for="pr_cost">가격</label>
		<input type="number" name="pr_cost">
	</div>

	<!-- 카테고리 -->
	<div>
		<label>카테고리</label>
		<select name="ca_no">
			<option value="1">APPAREL</option>
			<option value="2">BAG</option>
			<option value="3">SHOES</option>
			<option value="4">ACC</option>
		</select>
	</div>
	<div>
		<label for="pr_content">내용</label>
		<textarea rows="" cols="" name="pr_content"></textarea>
	</div>
	
	
	
	<div>
	<label>거래여부</label>
	<select name="pr_deal">
		<option value="Tradeable">거래가능</option>
		<option value="Untradeable">거래불가능</option>
		</select>
	</div>
	
</div>

<div th:if="${#strings.isEmpty(ProductFormDTO.pr_no)}">
	<button th:onclick="|location.href='@{/product/list}'|" type="submit">등록</button>
</div >
<div th:unless="${#strings.isEmpty(ProductFormDTO.pr_no)}">
	<button th:onclick="|location.href='@{/product/list}'|" type="button">취소</button>
</div>
</body>
</html>