<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:replace="fragments/common :: head('product')"></div>
<body>
	<div th:replace="fragments/common :: header('product')"></div>
	<span class="chat"></span>

	<div class="sale_rental_service">
		<div class="width_con">
			<div class="content">

				<div class="item_division" th:each="category :${categories}">
					<ul>
						<li style='display: inline-block' th:each="category :${categories}"><a class="division_btn" th:href="@{'/products/categories/'+ ${category.ca_no}}"> <span th:text="${category.ca_name}"></span>
						</a></li>
					</ul>
				</div>
				<div class="sale_rental_contents">
					<div class="contents_title">Rental</div>
					<div class="btn_space">
						<a class="more_btn" href="/products/insert">등록</a>
					</div>
					<ul class="rental">
						<li class="rental_list">
							<ul th:each="product :${products}">
								<li class="profile">
									<div class="user_img" th:style="${'background-image: url(/image/customer/'+ cu_images +')'}"></div>
									<div class="user_inform">
										<div class="rigion" th:text="${address}">지역</div>
										<div class="nick_name" th:text="${nicknames}">닉네임</div>
									</div>
								</li>
								<li class="product_img"><a th:href="@{'/products/'+ ${product.pr_no}}"> <img style='width: 100%' th:src="${product.pr_image}"></a></li>
								<li class="product_name" th:text="${product.pr_name}">상품명<span></span></li>
								<li class="price">가격<span th:text="${product.pr_cost}">20,000원</span></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="counsel"></div>
			</div>
			<div th:replace="fragments/common :: footer"></div>
		</div>
	</div>
</body>
</html>