<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/product.js"></script>
</head>
<body>
<div class="container">
	<div>
		<h2>상품 수정</h2>
	</div>
	<hr>
	<form th:action="@{/products/{pr_no}/update}" method="post" enctype="application/x-www-form-urlencoded" th:object="${product}">
		<div>
			<input type="hidden" id="pr_no" name="pr_no" class="form-control" th:value="${product.pr_no}" readonly="readonly">
		</div>
		<div>
			<label for="productName">상품명</label>
			<input type="text" id="prodcutName" name="pr_name" class="form-control" th:value="${product.pr_name}">
		</div>
	
		<div>
			<label for="pr_cost">가격</label>
			<input type="text" id="pr_cost" name="pr_cost" class="form-control" th:value="${product.pr_cost}">
		</div>

		<!-- 카테고리 -->
		<div>
		<label>카테고리</label>
			<select name="ca_name">
				<option th:each="category : ${categories}" 
				    th:value="${category.ca_name}" 
	                th:utext="${category.ca_name}">
	        	</option>
			</select>
		</div>
		
		<div>
			<label for="pr_content">내용</label>
			<textarea rows="" cols="" id="pr_content" name="pr_content" 
			class="form-control" th:text="${product.pr_content}" ></textarea>
		</div>
	
		<!-- 상품 이미지 -->
		<div>
			<span th:each="image :${images}">
			    
	      		<img width="100px" height="100px" th:src="${image.pi_url}" />
	      		<button type="button" class="deleteImage" value="${image.pi_no}">저장</button>
			</span>
		</div>
		<div>
			<input type="file" name="pr_images" multiple="multiple">
		</div>
		
		<!-- 대여여부 -->
		<div>
			<label>대여여부</label>
			<select name="pr_deal">
				<option value="Tradeable" th:selected="'Tradeable' == ${product.pr_deal}">대여</option>
				<option value="Untradeable" th:selected="'Untradeable'== ${product.pr_deal}">미대여</option>
			</select>
		</div>
		
		<div>
			<button type="submit">저장</button>
		</div>
		<div>
			<button th:onclick="|location.href='@{/products/{productNo}(productNo=${product.pr_no})}'|" type="button">취소</button>
		</div>
	</form>
	
</div>
	
</body>
</html>