<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel='stylesheet' type='text/css' href='/css/chatt.css'>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
$(function(){
	
	function loadChat(){
		$("#list").empty();
		$.ajax({
			url:"/listChat",
			success:function(data){
				$.each(data, function(){
					var name = this.name;
					var message = this.message;
					var p = $("<p></p>").html( name + "===>" + message );
					$("#list").append(p);
				});		
			}
		});
	}
	
	
	$("#btnSend").click(function(){
		var data = $("#chatt").serializeArray();
		$.ajax({
			url:"/insertChat",
			method:"post",
			data:data,
			success:function(){
				
			}
		})
	});
	
	
	setInterval(loadChat, 1000);
	
	
})
</script>
</head>
<body>
	<div id='chatt'>
		<h1>WebSocket Chatting</h1>
		<input type='text' id='mid' name="name" value='홍길동'>
		<input type='button' value='로그인' id='btnLogin'>
		<br/>
		<div id='list'></div>
		<div id='sendZone'>
			<textarea name="message" value="hi..." ></textarea>
			<input type='button' value='전송' id='btnSend'>
		</div>
	</div>
</body>
</html>