<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<div th:fragment="chatFragment">
		<h2>채팅방 목록</h2>
		<hr>
			<div th:each="cr : ${roomlist}">
				<span><a th:href="@{'/chat/'+${cr.cr_no}}" th:text="${cr.cr_no}"></a></span>
				<span th:if="${#authentication.name} == ${cr.customer.cu_id}" th:text="${cr.bcu_no}"></span>
				<span th:unless="${#authentication.name} != ${cr.customer.cu_id}" th:text="${cr.customer.cu_id}"></span>
				<span th:text="${cr.cr_no}"></span>
				<span th:text="${cr.product.pr_name}"></span>
				<span th:text="${cr.cr_created}"></span><hr>
			</div>
	</div>
</body>
</html>