<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>find_pwd</title>
<link rel="stylesheet" href="/css/customer.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/customer.js"></script>

</head>
<div th:replace="fragments/common :: head('findPwd')"></div>
<body>
		<div th:replace="fragments/common :: header('findPwd')"></div>
		
		
		<div> 회원가입이 완료되었습니다</div>
		<a class="like_btn" href="/index"></a>
</body>
</html>