<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>DD23_project</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
        <meta name="format-detection" content="telephone=no">
        <link type="text/css" rel="stylesheet" href="/css/reset.css">
        <link type="text/css" rel="stylesheet" href="/css/common.css">
        <link type="text/css" rel="stylesheet" href="/css/main.css">
        <link type="text/css" rel="stylesheet" href="/css/button.css">
        <link rel="stylesheet" href="/css/index/fontawesome_all.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script src="https://kit.fontawesome.com/cd24d62f47.js" crossorigin="anonymous"></script>

        <link href="" rel="icon" type="image/x-icon">                                               <!--32 Size .ico/.png (기본 파비콘)-->
        <link href="" rel="shortcut icon" type="image/x-icon">                                      <!--32 Size .ico/.png (기본 파비콘)-->
        <meta name="robots" content="index,follow">                                                 <!--사이트 페이지 구분-->
        <meta name="description" content="">                                                        <!--사이트 설명-->
        <meta name="author" content="">                                                             <!--사이트 제작자/제작회사-->
        <meta name="keywords" content="">                                                           <!--사이트 검색엔진 키워드-->
                                                                                                    <!--검색엔진/SNS 추출 정보-->
        <meta property="og:site_name" content="">                                                   <!--사이트 이름-->
        <meta property="og:url" content="">                                                         <!--사이트 주소-->
        <meta property="og:title" content="">                                                       <!--사이트 제목-->
        <meta property="og:image" content="">                                                       <!--144 Size .png (홈화면 아이콘)-->
        <meta property="og:image" content="">                                                       <!--144 Size .png (위 이미지 없을 시 보조 이미지)-->
        <meta property="og:description" content="">                                                 <!--사이트 설명-->
        <meta property="og:type" content="website">                                                 <!--사이트 페이지 구분-->
        <link rel="apple-touch-icon" href="">                                                       <!--57 Size .png-->
        <link rel="apple-touch-icon" sizes="72x72" href="">                                         <!--72 Size .png-->
        <link rel="apple-touch-icon" sizes="114x114" href="">                                       <!--114 Size .png-->
        <link rel="apple-touch-icon" sizes="144x144" href="">                                       <!--144 Size .png-->
    </head>
	<div th:replace="fragments/common :: head('login')"></div>
    <body class="loading">
        <span class="chat"></span>
            
            <div th:replace="fragments/common :: header('login')"></div>
            
            <div class="blurred_cover"></div>
            <div class="visual">
                <div class="width_con">
                    <div class="title">Login</div>
                    <form class="loginform" action="/customer/loginProc" method="post">
                    <ul class="rank">
                        <li>
                        <input type="text" name="username" placeholder="id">
                        </li>
                        </br>
                        <li>
                        <input type="password" name="password" placeholder="password">
                        </li>
                    </ul><br>
                    <button class="like_btn">login</button>
                    <a href="/customer/findPwd" class="like_btn">find pwd</a>
                    <a href="/customer/join" class="like_btn">join</a>
                    </form>
                </div>
            <div class="footer"></div>
        </div>
    </body>
</html>