<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>my_page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
        <meta name="format-detection" content="telephone=no">
        <link type="text/css" rel="stylesheet" href="/css/reset.css">
        <link type="text/css" rel="stylesheet" href="/css/common.css">
        <link type="text/css" rel="stylesheet" href="/css/main.css">
        <link type="text/css" rel="stylesheet" href="/css/button.css">
        <link rel="stylesheet" href="css/fontawesome_all.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>

        <link href="" rel="icon" type="image/x-icon">                                               <!--32 Size .ico/.png (기본 파비콘)-->
        <link href="" rel="shortcut icon" type="image/x-icon">                                      <!--32 Size .ico/.png (기본 파비콘)-->
        <meta name="robots" content="index,follow">                                                 <!--사이트 페이지 구분-->
        <meta name="description" content="">                                                        <!--사이트 설명-->
        <meta name="author" content="">                                                             <!--사이트 제작자/제작회사-->
        <meta name="keywords" content="">                                                           <!--사이트 검색엔진 키워드-->
                                                                                                    <!--검색엔진/SNS 추출 정보-->
        <meta property="og:site_name" content="">                                                   <!--사이트 이름-->
        <meta property="og:url" content="">                                                         <!--사이트 주소-->
        <meta property="og:title" content="">                                                       <!--사이트 제목-->
        <meta property="og:image" content="">                                                       <!--144 Size .png (홈화면 아이콘)-->
        <meta property="og:image" content="">                                                       <!--144 Size .png (위 이미지 없을 시 보조 이미지)-->
        <meta property="og:description" content="">                                                 <!--사이트 설명-->
        <meta property="og:type" content="website">                                                 <!--사이트 페이지 구분-->
        <link rel="apple-touch-icon" href="">                                                       <!--57 Size .png-->
        <link rel="apple-touch-icon" sizes="72x72" href="">                                         <!--72 Size .png-->
        <link rel="apple-touch-icon" sizes="114x114" href="">                                       <!--114 Size .png-->
        <link rel="apple-touch-icon" sizes="144x144" href="">                                       <!--144 Size .png-->
    </head>
    <body class="loading">
        <span class="chat"></span>
        <div class="wrap">
            <div class="header hide">
                <div class="width_con">
                    <div class="btn_nav"><div></div></div>
                    <ul>
                        <li><a href="javascript:;">Feed</a></li><!--
                     --><li><a href="javascript:;">Sale/Rental</a></li><!--
                     --><li><input id="search" type="text"><!--<i class="far fa-search"></i>--></li><!--
                     --><li><a href="javascript:;">Community</a></li><!--
                     --><li><a href="javascript:;">Login</a></li>
                    </ul>
                </div>
            </div>
            <div class="my_page">
                <div class="width_con">
                    <div class="content">
                        <div class="p_profile">
                            <div class="top_side">
                                <div class="profile_picture"></div>
                                <div class="profile_open_inform">
                                    <ul>
                                        <li>지역</li>
                                        <li>이름</li>
                                        <li>이메일 주소</li>
                                        <li>거래 평점</li>
                                    </ul>
                                </div>
                                <div class="profile_indiv_inform">
                                    <ul>
                                        <li>00 세</li>
                                        <li>000 cm</li>
                                        <li>00 kg</li>
                                        <li>성별</li>
                                        <li><a class="fix_btn" href="javascript:;">개인정보 수정</a></li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="bottom_side">
                                <li class="watchlist">
                                    <div class="inner_contents">
                                        <div>num</div>
                                        <div>관심목록</div>
                                    </div>
                                </li><!--
                             --><li class="following">
                                    <div class="inner_contents">
                                        <div>num</div>
                                        <div>팔로잉</div>
                                    </div>
                                </li><!--
                             --><li class="follower">
                                    <div class="inner_contents">
                                        <div>num</div>
                                        <div>팔로워</div>
                                    </div>
                                </li><!--
                             --><li class="trade_h">
                                    <div class="inner_contents">
                                        <div>num</div>
                                        <div>거래내역</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sale_rental">
                            <div class="contents_title">Sale/rental</div>
                            <ul>
                                <li>
                                    <div class="s_r_picture"><img src="img/1.png"></div><!--
                                 --><ul>
                                        <li>글제목</li>
                                        <li>작성자 닉네임, 지역</li>
                                        <li>대여가능여부</li>
                                        <li>대여 가격 : 00,000 원</li>
                                    </ul>
                                </li><!--
                             --><li>
                                    <div class="s_r_picture"><img src="img/1.png"></div><!--
                                 --><ul>
                                        <li>글제목</li>
                                        <li>작성자 닉네임, 지역</li>
                                        <li>대여가능여부</li>
                                        <li>대여 가격 : 00,000 원</li>
                                    </ul>
                                </li><!--
                             --><li>
                                    <div class="s_r_picture"><img src="img/1.png"></div><!--
                                 --><ul>
                                        <li>글제목</li>
                                        <li>작성자 닉네임, 지역</li>
                                        <li>대여가능여부</li>
                                        <li>대여 가격 : 00,000 원</li>
                                    </ul>
                                </li><!--
                             --><li>
                                    <div class="s_r_picture"><img src="img/1.png"></div><!--
                                --><ul>
                                        <li>글제목</li>
                                        <li>작성자 닉네임, 지역</li>
                                        <li>대여가능여부</li>
                                        <li>대여 가격 : 00,000 원</li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="btn_space"><a class="more_btn" href="javascript:;">More</a></div>
                        </div>
                        <div class="community">
                            <div class="contents_title">Community</div>
                            <ul class="contents_post">
                                <li>
                                    <span class="post_title">게시물 제목</span>&nbsp;|&nbsp;<span class="post_content">게시물 내용 asdfasdf</span>
                                    <div class="post_now">
                                        <span class="post_comment">[51]</span>
                                        <span class="post_view">200</span>
                                    </div>
                                </li>
                                <li>
                                    <span class="post_title">게시물 제목</span>&nbsp;|&nbsp;<span class="post_content">게시물 내용 asdfasdf</span>
                                    <div class="post_now">
                                        <span class="post_comment">[51]</span>
                                        <span class="post_view">200</span>
                                    </div>
                                </li>
                                <li>
                                    <span class="post_title">게시물 제목</span>&nbsp;|&nbsp;<span class="post_content">게시물 내용 asdfasdf</span>
                                    <div class="post_now">
                                        <span class="post_comment">[51]</span>
                                        <span class="post_view">200</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="btn_space"><a class="more_btn" href="javascript:;">More</a></div>
                        </div>
                        <div class="feed">
                            <div class="contents_title">Feed</div>
                            <ul class="feed_content">
                                <li>
                                    <div class="f_picture"><img src="img/1.png"></div><!--
                                 --><ul>
                                        <li>작성자 닉네임</li>
                                        <li>지역</li>
                                        <li>내용 일부</li>
                                        <li>게시 날짜</li>
                                        <li>추천 수</li>
                                    </ul>
                                </li><!--
                             --><li>
                                    <div class="f_picture"><img src="img/1.png"></div><!--
                                 --><ul>
                                        <li>작성자 닉네임</li>
                                        <li>지역</li>
                                        <li>내용 일부</li>
                                        <li>게시 날짜</li>
                                        <li>추천 수</li>
                                    </ul>
                                </li><!--
                             --><li>
                                    <div class="f_picture"><img src="img/1.png"></div><!--
                                 --><ul>
                                        <li>작성자 닉네임</li>
                                        <li>지역</li>
                                        <li>내용 일부</li>
                                        <li>게시 날짜</li>
                                        <li>추천 수</li>
                                    </ul>
                                </li><!--
                             --><li>
                                    <div class="f_picture"><img src="img/1.png"></div><!--
                                --><ul>
                                        <li>작성자 닉네임</li>
                                        <li>지역</li>
                                        <li>내용 일부</li>
                                        <li>게시 날짜</li>
                                        <li>추천 수</li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="btn_space"><a class="more_btn" href="javascript:;">More</a></div>
                        </div>
                        <a class="withdrawal" href="javascript:;">회원 탈퇴</a>
                        <div class="inquiry">
                            <span>문의</span>
                            <span>번호</span>
                            <span>이메일</span>
                        </div>
                    </div>
                </div>
                <div class="counsel"></div>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>