<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel='stylesheet' type='text/css' href='/css/alert.css'>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<h2>Notice List</h2>
	<hr>
			<div th:each="al : ${alertlist}">
				<div id="room">
					<span th:text="${al.al_created}"></span>
					<span id="atype" th:if="${al.al_type} == '거래'">거래</span>
					<span id="atype" th:if="${al.al_type} == '공지'">공지</span>
					<br>
					<br>
					&nbsp&nbsp <a id="atitle" th:href="@{'/alerts/'+${al.al_no}}" th:text="${al.al_title}"></a>
					<hr>
				</div>
			</div>
</body>
</html>