<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/feed.js"></script>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>
	<div>
	글번호 : <span id="f_no" th:text="${f.f_no}" th:value="${f.f_no}" ></span>	
	</div>
	
	<div>
	<p> 피드 제목 : <span th:text="${f.f_title}"></span>
	<p> 피드	내용 : <span th:text="${f.f_content}"></span>
	<p> 피드 조회수 : <span th:text="${f.f_hit}"></span>
	<p> 피드 생성날짜 : <span th:text="${f.f_created}"></span>
	<p> 피드 수정날짜 : <span th:text="${f.f_updated}"></span> 
	</div>
	<!--<a th:href="@{'/feed/updateForm/'+${f.f_no}}" th:text="수정"></a>  -->
 
 <button id="feed-updatemove">수정</button>
 &nbsp;

<button id="feed-delete">삭제</button>

<hr>

<div>
	<div>
		<textarea id = "fc_content" rows=1 placeholder="댓글을 입력해주세요"></textarea>
	</div>
	<div>
		<button id="fc-save">댓글 등록</button>
	</div>

</div>
	<br>
	<div>댓글 리스트</div> <br>
	<th:block th:each="fc:${f.feedComment}">

	<input type="text" id="fc_no" name="fc_no" th:name="fc_no" th:value="${fc.fc_no}">&nbsp; <br>
	<span id="fc_comment" th:text="${fc.fc_comment}" th:value="${fc.fc_comment}"></span> &nbsp;
	
	<span></span>
	<button type="button" th:onclick="fcdelete([[${f.f_no}]],[[${fc.fc_no}]])">삭제</button> &nbsp; 
	<button type="button" th:onclick="fcmove([[${fc.fc_no}]], [[${fc.fc_comment}]] )">수정</button> &nbsp; <br>
	<textarea class="fc-comment2" rows="3"></textarea>
	<button  class="fc-update">수정하기</button><br>
	</div>
</th:block>

</body>
</html>