<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/feed.js"></script>


</head>
<body>
	<div>

		<form>
			<div>
				<label for="title">피드 제목</label> 
				<input type="text" id="title" placeholder="제목을 입력하세요">
			</div>

			<div>
				<label for="content">content</label>
				<textarea rows="5" id="content" placeholder="내용을 입력해주세요"></textarea>
			</div>

		</form>
		<button id="feed-save">피드 쓰기</button>
	</div>



</body>
</html>