<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
	<th:block layout:frgment="title">
		<title>Feed insert Page</title>
	</th:block>
	
	<div>

		<form>
			<div>
				<label for="title">피드 제목</label> 
				<input type="text" id="title" placeholder="제목을 입력하세요">
			</div>

			<div>
				<label for="content">content</label>
				<textarea rows="5" id="content" placeholder="내용을 입력해주세요"></textarea>
			</div>

		</form>
		<button id="feed-save">피드 쓰기</button>
	</div>




</html>