<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="fragments/common :: head('NIOTNEOT')"></div>

<body>

	<div th:replace="fragments/common :: header('deleteUser')"></div>

	<span class="chat"> </span>

	<div class="chatting">
		<iframe class="chatframe" src="/listChatRoom" frameBorder="0" scrolling="no"> </iframe>
	</div>


	<div class="blurred_cover"></div>
	<div class="visual">
		<div class="width_con">
			<div class="title">Daily Best Feed</div>
			<ul class="rank">
				<li>
					<div class="profile_and_nickname">
						<img class="profile" src="img/1.png"><span>nickname</span>
					</div>
					<div class="fit_image">
						<img src="img/1.png">
					</div>
					<div class="rank_and_thumbup">
						1st<span>like</span>
					</div>
				</li>
				<!--
                     -->
				<li>
					<div class="profile_and_nickname">
						<img class="profile" src="img/2.png"><span>nickname</span>
					</div>
					<div class="fit_image">
						<img src="img/2.png">
					</div>
					<div class="rank_and_thumbup">
						2nd<span>like</span>
					</div>
				</li>
				<!--
                     -->
				<li>
					<div class="profile_and_nickname">
						<img class="profile" src="img/1.png"><span>nickname</span>
					</div>
					<div class="fit_image">
						<img src="img/1.png">
					</div>
					<div class="rank_and_thumbup">
						3rd<span>like</span>
					</div>
				</li>
				<!--
                     -->
				<li>
					<div class="profile_and_nickname">
						<img class="profile" src="img/2.png"><span>nickname</span>
					</div>
					<div class="fit_image">
						<img src="img/2.png">
					</div>
					<div class="rank_and_thumbup">
						4th<span>like</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="counsel"></div>
	</div>
	<div class="footer"></div>

</body>
</html>